/.venv
/1-table-4.png
/1.tei.xml
/check.json
/docling
/doclingFinal
/doclingFinalCorrect
/doclingParser.py
/doclingv2.py
/extended_prisma.json
/faiss_store
/fpsyg-10-00284_pdfminer.txt
/fpsyg-10-00284_pymupdf.txt
/fpsyg-10-00284_scipdf.json
/fpsyg-10-00284_scipdf_full.txt
/fpsyg-10-00284_scipdf_sections.txt
/fpsyg-10-00284_sections.txt
/output
/output_docling_images_final
/output_grobid
/parsed_images
/parsed_output.md
/parser.py
/pdfminer
/pdfMinerParser.py
/pobrane.pdf
/prisma.json
/pymupdf
/pyMuPdfParser.py
/retriever_result.json
/scipdf
/tempCodeRunnerFile.py
/__pycache__